.navbar-brand{
    margin-left: 4%;
    margin-right: 7%;
}
.navbar-brand img{
    width: 100px;
    height: 60px;
    object-fit: fill;
}
.navbar{
    background-color: #FDFFFF;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.8);
}
.nav-item a{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #202020;
}
.navbar .main-nav{
    gap: 17px;
    margin-right: 1%;
}
.users-sigin{
    margin-right: 1%;
}
.users-sigin .nav-item{
    font-size: 19px;
    color: black;
}
