.navbar-brand{
    margin-left: 4%;
    margin-right: 7%;
}
.navbar-brand img{
    width: 100px;
    height: 60px;
    object-fit: fill;
}
.navbar{
    background-color: #FDFFFF;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.8);
}
.nav-item a{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #202020;
}
.navbar .main-nav{
    gap: 15px;
}
.registration-form{
    margin-top: 10%;
}
.registration-form input{
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 88%;
    margin-left: 5%;
}
.registration-form label{
    margin-left: 5.5%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}
.registration-form input[type=submit]{
    width: 88%;
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 16px;
    font-weight: 200;
    border: none;
    outline: none;
    border-radius: 8px;
}
.registration-form p{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 14px;
}
.login-form{
    margin-top: 10%;
}
.login-form input{
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 88%;
    margin-left: 5%;
}
.login-form label{
    margin-left: 5.5%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}
.login-form input[type=submit]{
    width: 88%;
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 16px;
    font-weight: 200;
    border: none;
    outline: none;
    border-radius: 8px;
}
.login-form .checkbox label{
    align-items: center;
    gap: 10px;
    float: left;
}
.login-form p{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 14px;
}
.profile-section{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
.profile-section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profile-section .media-body{
    margin-left: 3%;
    margin-top: 2%;
}
.profile-section .media-body h1{
    color: rgba(0,0,0,0.8);
    font-size: 24px;
}
.profile-section .media-body p{
    color: grey;
    font-size: 14px;
}