{% extends "base.html" %}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container">
    <div class="row andy-blog">
        <div class="col">
            <u><h1>Andy Blogs</h1></u>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-auto mb-3">
            <div class="blog-posts">
                {{ macro.displayPost(posts)}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="popular">
                {{ macro.displayPost(posts)}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}