{% extends "base.html" %}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container">
    <div class="row andy-blog">
        <div class="col">
            <u>
                <h1>Andy Blogs</h1>
            </u>
        </div>
    </div>

    <hr>

    <div class="container">
        <marquee>
            <h4 style="font-size: 15px;">A quote by: <span style="color: grey;">{{quote.author}}</span> </h4>
            <p class="card-text" style="font-size: 14px;">{{quote.quote}}</p>
        </marquee>
    </div>

    <div class="row">
        <div class="col-auto mb-3">
            <div class="blog-posts">
                {{ macro.displayPost(posts)}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}