{% extends "base.html" %}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container">
    <div class="row andy-blog">
        <div class="col">
            <u><h1>Andy Blogs</h1></u>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="card cardquote">
            <div class="card-title">
                <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{quote.author}}</span> </h4>
            </div>
            <p class="card-text">{{quote.quote}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-auto mb-3">
            <div class="blog-posts">
                {{ macro.displayPost(posts)}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}