{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav main-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">TECHNOLOGY<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GAMING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIFESTYLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MY KENYA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FICTION STORIES</a>
                </li>
            </ul>
            <ul class="nav navbar-nav  ml-auto users-sigin">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-phone">&nbsp;check</i></a>
                </li>
                <div class="social">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </div>
            </ul>

        </div>
    </nav>
</div>

{% endblock content %}