{% macro displayPost(posts) %}
{% for post in posts %}
<div class="container">
    <a href={{"/posts/" + post.slug}} style="color: black;">
        <h3><em><img src="images/img02.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Magna phasellus etiam ultrices</h3>
        <p>{{post.title |truncate(20)}}</p>
        <p>{{post.content |truncate(150)}}</p>
        <p>Posted by: <a href="">{{ post.author }}</a> on {{post.date_posted.strftime('%B %d, %Y')}}</p>
        <p><a href="#" class="button-style">Read More</a></p>
    </a>
</div>
{% endfor %}
{% endmacro %}

