<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav main-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;TECHNOLOGY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp;GAMING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;LIFESTYLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>&nbsp;FICTION
                        STORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;MY KENYA</a>
                </li>&nbsp;&nbsp;

                <li class="nav-item dropdown sigin-user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;{{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;TECHNOLOGY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp;GAMING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;LIFESTYLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>&nbsp;FICTION
                        STORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;MY KENYA</a>
                </li>&nbsp;&nbsp;

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;Sign Up / Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.register')}}">Sign Up</a>
                        <a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a>
                    </div>
                </li>
            </ul>

            {% endif %}

        </div>
    </nav>
</div>