<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav main-nav">
                {% if current_user.is_admin == False %}
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.blogs')}}">BLOGS</a>
                </li>&nbsp;&nbsp;
                
                <li class="nav-item dropdown sigin-user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;{{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </li>

                {% elif current_user.is_admin == True %}

                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.blogs')}}">BLOGS</a>
                </li>&nbsp;&nbsp;

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;{{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.create_admin')}}">Add Admin</a>
                        <a class="dropdown-item" href="/admin">Admin</a>
                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.blogs')}}">BLOGS</a>
                </li>&nbsp;&nbsp;

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;Sign Up / Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.register')}}">Sign Up</a>
                        <a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a>
                    </div>
                </li>

            </ul>

            {% endif %}

        </div>
    </nav>
</div>